<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @podcast.title %></h1>
			<p class="description"><%= @podcast.description %></p>
			<% unless @podcast.itunes.blank? %>
				<%= link_to "iTunes", @podcast.itunes, class: "subscribe_link" %>
			<% end %>
			<% unless @podcast.soundcloud.blank? %>
				<%= link_to "SoundCloud", @podcast.soundcloud, class: "subscribe_link" %>
			<% end %>
			<% unless @podcast.youtube.blank? %>
				<%= link_to "YouTube", @podcast.youtube, class: "subscribe_link" %>
			<% end %>
		</div>
	</div>

	<div id="breadcrumb">
		<a href="#">
			Todos os podcasts
			<span>/</span>
			<%= link_to @podcast.title, podcast_path(@podcast) %>
			<span>/</span>
			<%= @episode.title %>
		</a>
	</div>

	<div id="episode_content">
		<div class="wrapper_skinny">
			<img src="images/filipe.jpg" class="current_episode_thumbnail">
			<h2><%= @episode.title %></h2>
			<p class="description"><%= @episode.description %></p>
		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @episodes.each do |episode| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="#">
								<img src="images/filipe.jpg" alt="Filipe">
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
							<p class="description"><%= truncate(episode.description, length: 160) %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>