<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a id="logo" href="#">Podcastor</a>
			<nav>
				<ul>
					<li><%= link_to "Explorar", podcasts_path %></li>
					<li><%= link_to "Entrar", new_podcast_session_path %></li>
					<li><%= link_to "Criar um podcast", new_podcast_registration_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Encontre seus podcasts favoritos, ou crie o seu próprio.</h1>
		<%= link_to "Criar um podcast", new_podcast_registration_path, class: "button button_highlight" %>
		<%= link_to "Explorar", podcasts_path, class: "button button_white" %>
	</div>
</div>