<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @podcast.title %></h1>
			<p class="description"><%= @podcast.description %></p>
			<% unless @podcast.itunes.blank? %>
				<%= link_to "iTunes", @podcast.itunes, class: "subscribe_link" %>
			<% end %>
			<% unless @podcast.soundcloud.blank? %>
				<%= link_to "SoundCloud", @podcast.soundcloud, class: "subscribe_link" %>
			<% end %>
			<% unless @podcast.youtube.blank? %>
				<%= link_to "YouTube", @podcast.youtube, class: "subscribe_link" %>
			<% end %>
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to podcasts_path do %>
			Todos os podcasts
			<span>/</span>
			<%= @podcast.title %>
		<% end %>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @episodes.each do |episode| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="#">
								<%= image_tag episode.episode_thumbnail.url(:medium) %>
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
							<p class="description"><%= episode.description %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>